*.log
**/.config-db
**/.cache
**/node_modules
**/__pycache__/**
log.txt
*.log.gz
*.db
*.db-shm
*.db-wal
*.bak0
*.sab
*.pid
*.pyc
**/.venv
**/venv
*.yml
!*docker*.yml
!*compose*.yml
msg*.xlsx
~$*
*.jsonl
*.values.jsonl
**/apps.yaml

# Logs - stored in output directory
*.log
**/*.log

# Build artifacts
*.egg-info/
dist/
build/
